<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Other Resources</title>

    <%- include("/partials/links.html") %>

  </head>
  <body>

    <%- include("/partials/header.html") %>

    <h1>Other Resources</h1>
    <div>

      <div>
        <h4><a target="_blank" href="https://www.youtube.com/playlist?list=PLAE85DE8440AA6B83">
          Bucky's C++ Tutorial Videos
        </a></h4>
        <p>A great place to start learning C++. Bucky's Videos will walk you through writing your first program in C++ using the Code::Blocks IDE.</p>
      </div>

      <div>
        <h4><a target="_blank" href="https://codesignal.com/">
          CODESIGNAL
        </a></h4>
        <p>Codesignal is a gamified programming challenge site. It gives you a broad range of problems which you can solve in your choice of 38 programming languages. Some of these challenges our created by real world tech companies and are used to recruit talented programmers.</p>
      </div>

      <div>
        <h4><a target="_blank" href="https://designhub.arc.losrios.edu/">
          Design Hub Internships
        </a></h4>
        <p>Located in Tech Ed 311, the ARC Design Hub is a campus organization that brings together Engineering, Art, Computer Science, and Business students to work on projects that benefit our campus and students while also providing hands on experience. The Design Hub offers both paid and unpaid positions.</p>
      </div>

      <div>
        <h4><a target="_blank" href="http://www.arc.losrios.edu/ARC_Majors/Mathematics/MESA.htm">
          ARC STEM CENTER
        </a></h4>
        <p>Located in Portable 603, The ARC STEM CENTER is an on campus resource that offers free walk-in tutoring in any STEM class. This ofcourse includes programming and any math, science or engineering classes you make also be taking. Just show up and ask when a tutor will be available for the subject of your choice.</p>
      </div>
      <div>

        <h4><a target="_blank" href="http://www.arc.losrios.edu/LRC.htm">
          Learning Resource Center
        </a></h4>
        <p>The LRC provides free tutoring for almost any ARC course. Just schedule an appointment with a tutor at the front desk. Make sure you show up to any tutoring session you sign up for or at the very least call ahead if you can't make it. These tutors are only paid for students who show up and often times they will just be in for their appointments.</p>
      </div>

    </div>
  </body>

</html>
