<!doctype html>
<html lang="en">
  <head>
    <title>HomePage</title>

    <%- include('links.html') %>

    <link rel="stylesheet" href="/css/home_page.css">

  </head>
  <body>

    <%- include('header.html') %>

    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h1>Welcome to the Computer Science Club</h1>
        </div>

      </div>


      <div class="row">

        <div class="col-md-12">
          <h3>About Us</h3>
          <p>
            Learn new ways to code with our club's computer science students as
            we give you some tips on problems with your code. Anyone can join the
            computer science club (even if you are a beginner as a programmer). If you join
            our club, you can also help us develop our website, and we can help you on some of your
            homework assignments or projects you may be working on.
            Make some friends and build up on your coding skills with the computer
            science club today!
          </p>
          <p>
            Location: Room 311 in Tech Ed, in the Design Hub at ARC.
          </p>
          <p>
            Time Meetings: Tuesday and Thursday from 12:00pm - 2:00pm.
          </p>
        </div>

      </div>
    </div>


    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1>Club Officers</h1>
        </div>
      </div>


      <div class="row text-center">

        <div class="col-md-4">
          <h2>President</h2>

          <div class="col-md-12">
            <img class="profile_picture" alt="Presidents Profile Picture" src="/static/Profile_avatar_placeholder_large.png"/>
          </div>

          <h4>Devin Scholl</h4>
          <p>Bio</p>
        </div>

        <div class="col-md-4">
          <h2>Vice President</h2>

          <div class="col-md-12">
            <img class="profile_picture" alt="Vice President's Profile Picture" src="/static/Profile_avatar_placeholder_large.png"/>
          </div>

          <h4>Tristan Burns</h4>
          <p>Bio</p>
        </div>

        <div class="col-md-4">
          <h2>Treasure</h2>

          <div class="col-md-12">
            <img class="profile_picture" alt="Treasure's Profile Picture" src="/static/Profile_avatar_placeholder_large.png"/>
          </div>

          <h4>Fabian R</h4>
          <p>Bio</p>
        </div>

      </div>


    </div>
  </body>
</html>
