<!doctype html>
<html lang="en">
  <head>
    <title>HomePage</title>

    <%- include('/partials/links.html') %>

    <link rel="stylesheet" href="/static/css/home_page.css">

  </head>
  <body>

    <%- include('/partials/header.html') %>

    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h1>Welcome to the Computer Science Club</h1>
        </div>

      </div>


      <div class="row">

        <div class="col-md-12">
          <h3>About Us</h3>
          <p>
            American River College's Computer Science Club is an excellent resource for students of all skill levels who want to improve their code, network with their peers, or even just get help with their course material.
            We welcome all ARC students, and strive to foster an enviroment of collabration and support.
            Ongoing projects include web development, embedded systems projects and technical programming feedback.
            Make some friends and build your coding skills with the computer science club today!
          </p>
          <p>
            Location: ARC Design Hub, Room 311 Tech Ed.
          </p>
          <p>
            Meeting Times: Tuesday and Thursday from 12:00pm - 2:00pm.
          </p>
        </div>

      </div>
    </div>


    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1>Club Officers</h1>
        </div>
      </div>


      <div class="row text-center">

        <div class="col-md-4">
          <h2>President</h2>

          <div class="col-md-12">
            <img class="profile_picture" alt="Presidents Profile Picture" src="/static/downloads/profile_avatar_placeholder_large.png"/>
          </div>

          <h4>Devin Scholl</h4>
        </div>

        <div class="col-md-4">
          <h2>Vice President</h2>

          <div class="col-md-12">
            <img class="profile_picture" alt="Vice President's Profile Picture" src="/static/downloads/profile_avatar_placeholder_large.png"/>
          </div>

          <h4>Tristan Burns</h4>
        </div>

        <div class="col-md-4">
          <h2>Treasurer</h2>

          <div class="col-md-12">
            <img class="profile_picture" alt="Treasure's Profile Picture" src="/static/downloads/profile_avatar_placeholder_large.png"/>
          </div>

          <h4>Fabian Radu</h4>
        </div>

      </div>


    </div>
  </body>
</html>
